POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=pgvector
POSTGRES_PORT=5432

REDIS_PASSWORD=
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

OPENAI_CHAT_MODEL=gpt-4.1-mini
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
OPENAI_API_KEY=
