amqp==5.3.1
billiard==4.2.4
celery==5.6.3
click==8.4.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
kombu==5.6.2
langchain-openai==1.1.0
langchain-text-splitters==1.1.0
packaging==26.2
pdf2image==1.17.0
pgvector==0.4.2
pillow==12.2.0
prompt_toolkit==3.0.52
psycopg[binary]==3.3.2
pytesseract==0.3.13
python-dateutil==2.9.0.post0
redis==6.4.0
SQLAlchemy==2.0.44
six==1.17.0
tzdata==2026.2
tzlocal==5.3.1
vine==5.1.0
wcwidth==0.8.1
